csv_outputs/eval_final_return_ma5.png
csv_outputs/eval_final_return_ma10.png
csv_outputs/eval_final_return.png
csv_outputs/eval_final_success_ma5.png
csv_outputs/eval_final_success_ma10.png
csv_outputs/eval_final_success.png
csv_outputs/rollout_anysuccess_ma5.png
csv_outputs/rollout_anysuccess_ma10.png
csv_outputs/rollout_anysuccess.png
csv_outputs/rollout_trial_return_ma5.png
csv_outputs/rollout_trial_return_ma10.png
csv_outputs/rollout_trial_return.png
csv_outputs/ttt_ecet_ML1_old_code_seed1/metrics.csv
csv_outputs/ttt_ecet_ML1_old_code_seed1/ttt_ecet_policy.pth
csv_outputs/ttt_ecet_ML1_state_proj_seed1/metrics.csv
csv_outputs/ttt_ecet_ML1_state_proj_seed1/ttt_ecet_policy.pth
csv_outputs/ttt_ecet_ML1_state_proj_twolayer_seed1/metrics.csv
csv_outputs/ttt_ecet_ML1_state_proj_twolayer_seed1/ttt_ecet_policy.pth
csv_outputs/ttt_ecet_ML1_stateproj_seed1/metrics.csv
csv_outputs/ttt_ecet_ML1_twolayer_seed1/metrics.csv
csv_outputs/ttt_ecet_ML1_twolayer_seed1/ttt_ecet_policy.pth
.vscode/settings.json
clean_code.zip
runs.txt
csv_outputs/eval_anysuccess.png
csv_outputs/archive/eval_final_return_ma5.png
csv_outputs/archive/eval_final_return_ma10.png
csv_outputs/archive/eval_final_return.png
csv_outputs/archive/eval_final_success_ma5.png
csv_outputs/archive/eval_final_success_ma10.png
csv_outputs/archive/eval_final_success.png
csv_outputs/archive/rollout_anysuccess_ma5.png
csv_outputs/archive/rollout_anysuccess_ma10.png
csv_outputs/archive/rollout_anysuccess.png
csv_outputs/archive/rollout_trial_return_ma5.png
csv_outputs/archive/rollout_trial_return_ma10.png
csv_outputs/archive/rollout_trial_return.png
csv_outputs/archive/ttt_ecet_ML1_old_code_seed1/metrics.csv
csv_outputs/archive/ttt_ecet_ML1_old_code_seed1/ttt_ecet_policy.pth
csv_outputs/archive/ttt_ecet_ML1_state_proj_seed1/metrics.csv
csv_outputs/archive/ttt_ecet_ML1_state_proj_seed1/ttt_ecet_policy.pth
csv_outputs/archive/ttt_ecet_ML1_state_proj_twolayer_seed1/metrics.csv
csv_outputs/archive/ttt_ecet_ML1_state_proj_twolayer_seed1/ttt_ecet_policy.pth
csv_outputs/archive/ttt_ecet_ML1_stateproj_seed1/metrics.csv
csv_outputs/archive/ttt_ecet_ML1_twolayer_seed1/metrics.csv
csv_outputs/archive/ttt_ecet_ML1_twolayer_seed1/ttt_ecet_policy.pth
csv_outputs/nostateproj_run000/config.json
csv_outputs/nostateproj_run000/metrics.csv
csv_outputs/nostateproj_run000/ttt_ecet_policy.pth
csv_outputs/stateproj_run002/config.json
csv_outputs/stateproj_run002/metrics.csv
csv_outputs/stateproj_run002/ttt_ecet_policy.pth
csv_outputs/eval_len_5_anysuccess.png
csv_outputs/detachcontext_run002/config.json
csv_outputs/detachcontext_run002/eval_episode_success.csv
csv_outputs/detachcontext_run002/metrics.csv
csv_outputs/detachcontext_run002/ttt_ecet_policy.pth
csv_outputs/stateproj-largechunk_run000/config.json
csv_outputs/stateproj-largechunk_run000/eval_episode_success.csv
csv_outputs/stateproj-largechunk_run000/metrics.csv
csv_outputs/stateproj-largechunk_run000/ttt_ecet_policy.pth
